/**{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Light', sans-serif;
}*/

body {
	background-color: #DCD8D1;
	padding-top: 70px;
	padding-bottom: 70px;
}

.mainContainer {
	width: 800px;
	/*height: 1800px;*/
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
	border-top: 1px solid #828282;
	border-left: 1px solid #828282;
	border-right: 1px solid #828282;
	border-bottom: 1px solid #828282;

	font-family: 'Roboto Light', sans-serif;
}

.headerBar {
	/*height: 200px;*/
	/*width: 100%;*/
	background-color: #70c9eb;
}

.greenBar {
	/*height: 40px;*/
	/*width: 100%;*/
	background-color: #9dc03b;
	padding-top: 13px;
	padding-bottom: 10px;
}
 h1 {
 	color: #4f4f4f;
 	text-align: center;
 	padding-top: 40px;
 	font-size: 80px;
 }
 h2{
 	text-align: center;
 	color: #828282;
 }

 h3 {
 	font-size: 25px;
 }

 .searchBar {
 	width: 300px;
 	height: 35px;
 	background-color: white;
 	margin: auto;
 	border-radius: 25px;
 }

 .content {
 	padding: 20px;
 }

 /*.contentText {
 	margin-top: 130px;
 }*/

 hr {
 	margin-top: 5px;
 	margin-bottom: 5px;
 }

 /*.quickLinks {
 	display: inline;
 	position: relative;
 }*/

 /*#wifi {
 	float: left;
 	background-image: url("images/wifi.svg");
 	height: 120px;
 	width: 120px;
 	background-repeat: no-repeat;
 	margin-left: 35px;

 }

 #idrive {
 	float: left;
 	background-image: url("images/idrive.svg");
 	height: 120px;
 	width: 120px;
 	background-repeat: no-repeat;
 	margin-left: 20px;
 }

  #software {
 	float: left;
 	background-image: url("images/software.svg");

 	background-repeat: no-repeat;
 	margin-left: 20px;
 }

  #myop {
 	float: left;
 	background-image: url("images/myop.svg");
 	height: 120px;
 	width: 120px;
 	background-repeat: no-repeat;
 	margin-left: 20px;
 }

  #contact {
 	float: left;
 	background-image: url("images/contact.svg");
 	height: 120px;
 	width: 120px;
 	background-repeat: no-repeat;
 	margin-left: 20px;
 }*/

 .text {
 	margin-top: 20px;
 	font-size: 16px;
 	font-family: 'Roboto', sans-serif;
 }

 .dontPanic {
 	color: red;
 	font-size: 16px;
 	font-family: 'Roboto', sans-serif;
 }

 .search {
 	font-size: 16px;
 	font-family: 'Roboto', sans-serif;
 	text-align: center;
 	padding-top: 8px;
 	color: #828282;
 }

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

table {
	width: 100%;
	font-size: 20px;
}

td {
	padding-left: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}
