body {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #DCD8D1;
}

a {
	text-decoration: none;
	color: inherit;
}

.content {
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
	border-top: 1px solid #828282;
	border-left: 1px solid #828282;
	border-right: 1px solid #828282;
	border-bottom: 1px solid #828282;

	padding-bottom: 40px;
}

.content h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Light', sans-serif;
	font-weight: bold;
}

.intro {
	background-color: #70c9eb;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.intro h1 {
	color: #4f4f4f;
}

.intro h2 {
	color: #828282;
}

.search {
	background-color: #9dc03b;
	padding-top: 5px;
	padding-bottom: 5px;
}

.searchBar {
	height: 35px;
	background-color: white;
	margin: auto;
	border-radius: 25px;
}

.content p {
	font-family: 'Roboto', sans-serif;
}

.dontPanic {
	color: red;
}


@media  (min-width: 768px) {
	.content {
		width: 80%;
	}
	
	.intro h1 {
		font-size: 700%;
	}
	.searchBar {
		width: 300px;
	}
}
